body { font-family: verdana, arial, sans-serif; font-size: 0.9em; background-color: #9C6E67; }


h1 { font-size: 2.5em; color: red; }
h1 a { font-style: normal; margin-top: 10px; margin-bottom: 10px;}
h3 { font-size: 1.6em; margin-top: 10px; margin-bottom: 10px; }
p { margin-bottom: 12px; }


table { width: 650px; }
th { height: 20px; font-size: 1.2em; }
td, tr, table { border: 1px solid black; }

#user_tools { font-size: 0.9em; float: left; border: 1px solid black; width: 120px; margin-left: 12px; }
#user_tools li { margin-bottom: 4px; padding: 4px; border-bottom: 1px solid black; }
#user_tools li:last-child { border-bottom: 0px; }

#user_dashboard li { padding: 8px; border-bottom: 1px solid black; }
#user_dashboard li:last-child { border-bottom: 0px; }
#user_dashboard li span { float: right; text-align: right; font-size: 0.9em; display: block; }

#content { margin: 0px auto; width: 950px; border: 1px solid black; background: white; }
#body { padding-left: 10px;  width: 650px;  float: left; }
#right_column { min-height: 500px; width: 253px; padding-left: 15px; padding-top: 25px;  border-left: 1px solid black;  float: right;}

#content #show_item img { display: block; }
#content #content_list a { color: #009900; }  
#content #content_list li { border-bottom: 1px solid #000000; padding: 8px; }
#content #content_list li.last { border-bottom: 0px; }
