
<% if @registrations.blank? %>
  <h3> No one registered yet. <%= link_to "Be the first!", new_registration_path %> </h3>
<% else %>
  <h3> The following people have already registered </h3>
  <table>
    <tr> 
      <th> Name </th>
      <th> Organisation </th>
      <th> OS </th>
      <th> Assist </th>
      <th> Email </th>
      <th> Comment </th>
      <th> &nbsp; </th>
    </tr>
    <%= render :partial => "registration", :collection => @registrations %>
  </table>
<% end %>
